---
import BaseLayout from "~/layouts/BaseLayout.astro";
import PlaneCard from "../../components/PlaneCard.astro";
import helicopters from "../../data/helicopters";

const data = {
  siteTitle: "Our Rotary Wing Fleet | Ideal Aviation",
  siteDescription:
    "Ideal Aviation’s rotary-wing program is designed to deliver unparalleled training with a focus on safety, performance, and precision. Our fleet is equipped to provide students with hands-on experience that meets the highest standards of aviation excellence.",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <section class="mt-24 mx-auto max-w-2xl lg:max-w-7xl">
    <div
      class="absolute top-0 inset-0 h-[27vh] bg-gradient-to-bl from-0% via-30% from-main-blue via-transparent"
    >
    </div>

    <div class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24 flex flex-col">
      <div>
        <h1
          class="font-mono text-xs/5 font-semibold uppercase tracking-widest text-gray-500 data-[dark]:text-gray-400"
        >
          Our Rotary-Wing Fleet
        </h1>
        <h2
          class="mt-2 text-pretty text-4xl font-medium tracking-tighter text-gray-950 data-[dark]:text-white sm:text-6xl"
        >
          Ideal Aviation's Rotary-Wing Fleet
        </h2>
        <p class="mt-6 max-w-3xl text-2xl font-medium text-gray-500">
          Ideal Aviation’s rotary-wing program is designed to deliver
          unparalleled training with a focus on safety, performance, and
          precision. Our fleet is equipped to provide students with hands-on
          experience that meets the highest standards of aviation excellence.
        </p>
      </div>
      <ul role="list" class="mx-auto mt-10 grid gap-8 w-full">
        {helicopters.map((plane) => <PlaneCard planeData={plane.data} />)}
      </ul>
    </div>
  </section>
</BaseLayout>
