---
import BaseLayout from "../layouts/BaseLayout.astro";

const data = {
  siteTitle: "404 - Page Not Found | Ideal Aviation",
  siteDescription:
    "The page you're looking for doesn't exist. Please verify the URL and try again.",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <section class="flex justify-center px-5 py-32 pt-60 relative">
    <div
      class="absolute top-0 w-full h-[20vh] bg-gradient-to-bl from-0% via-30% from-main-blue via-transparent"
    >
    </div>
    <div class="text-center flex flex-col gap-8">
      <svg class="size-20 text-main-blue mx-auto" viewBox="0 0 32 32"
        ><path
          fill="currentColor"
          d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z"
        ></path></svg
      >

      <h1 class="font-bold text-4xl">
        The page you're looking for doesn't exist.
      </h1>

      <p>Please verify the URL and try again.</p>

      <div class="flex flex-row justify-center">
        <a href="/">
          <div class="btn-primary">Home</div>
        </a>
      </div>
    </div>
  </section>
</BaseLayout>
