---
import BaseLayout from "~/layouts/BaseLayout.astro";
import HomepageHeader from "~/components/HomepageHeader.astro";
import { Image } from "astro:assets";
import helicopter from "~/assets/images/helicopter_commercial_checkride.webp";
import CounterCard from "~/components/CounterCard";
import stats from "~/data/stats";
import ImageComp from "../components/ImageComp.astro";
import ReviewCard from "../components/ReviewCard.astro";
---

<BaseLayout
  siteTitle="Ideal Aviation"
  siteDescription="Bienvenido a iFly, la primera universidad aeronáutica de México. Prepárate para alcanzar tu sueño de volar con carreras para pilotos, oficiales de operaciones, sobrecargos y más. ¡Obtén tu licencia de Piloto Comercial hoy!"
>
  <HomepageHeader slot="header" />

  <section>
    <div class="mx-auto max-w-7xl grid sm:grid-cols-2 lg:grid-cols-4">
      {
        stats.map((stat) => (
          <CounterCard
            client:only="react"
            value={stat.value}
            title={stat.title}
            suffix={stat.suffix}
          />
        ))
      }
    </div>
  </section>

  <section id="welcome" class="scroll-my-10">
    <div
      class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24 flex flex-col-reverse lg:flex-row gap-20 items-center"
    >
      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2
          class="text-xs/5 font-semibold text-gray-500 uppercase tracking-widest"
        >
          Welcome to Ideal Aviation
        </h2>
        <h3
          class="max-w-lg text-pretty text-4xl font-semibold tracking-tight text-main-black sm:text-5xl"
        >
          Why Choose Ideal Aviation?
        </h3>
        <h4 class="text-gray-500 font-semibold text-2xl">
          The Ideal Way to Learn to Fly in St. Louis, Missouri
        </h4>
        <p class="text-main-black/70">
          Fly the Ideal Way. Ideal Aviation is the place for pilots in St.
          Louis, Missouri. We maintain the highest standards of safety in all of
          our operations. Our certified flight instructors have decades of
          combined experience, ensuring that you have the knowledge and skills
          you need to fly safely and confidently.
        </p>
        <a href="/contact" class="btn-primary">Join The Family</a>
      </div>
      <div class="flex-1 relative h-fit">
        <Image
          src={helicopter}
          alt="Helicopter Commercial Checkride"
          class="rounded-xl z-10 relative"
        />
      </div>
    </div>
  </section>

  <section class="m-2 rounded-3xl overflow-hidden">
    <div class="bg-main-blue py-24 sm:py-32">
      <div class="mx-auto max-w-xl px-6 lg:max-w-7xl lg:px-8">
        <h2
          class="text-xs/5 font-semibold text-gray-300 uppercase tracking-widest"
        >
          How to get started?
        </h2>
        <p
          class="mt-2 max-w-lg lg:max-w-4xl text-pretty text-4xl font-semibold tracking-tight text-white sm:text-5xl"
        >
          We offer a range of programs and services to help you achieve your
          aviation goals
        </p>
        <div
          class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2"
        >
          <div class="flex p-px lg:col-span-4">
            <div
              class="overflow-hidden rounded-lg bg-main-black ring-1 ring-white/15 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem] w-full"
            >
              <ImageComp
                styles="h-80 object-cover w-full"
                imagePath="/src/assets/images/commercial-pov-sky.webp"
                imageAlt="Commercial Pilot POV from Sky"
              />
              <div class="p-10">
                <h3
                  class="text-xs/4 font-semibold text-gray-300 uppercase tracking-wider"
                >
                  Discover
                </h3>
                <p class="mt-2 text-lg font-black tracking-tight text-white">
                  Take a Discovery Flight
                </p>
                <p class="mt-2 max-w-lg text-sm/6 text-gray-100">
                  The best way to experience flying is to take a Discovery
                  Flight. This is a short introductory flight with one of our
                  experienced instructors that will give you a taste of what
                  it's like to fly an aircraft. You'll have the opportunity to
                  take the controls and learn basic maneuvers and enjoy the
                  incredible views from above.
                </p>
                <a href="/discovery-flight" class="btn-primary mt-2"
                  >Schedule Today</a
                >
              </div>
            </div>
          </div>
          <div class="flex p-px lg:col-span-2">
            <div
              class="overflow-hidden rounded-lg bg-main-black ring-1 ring-white/15 lg:rounded-tr-[2rem]"
            >
              <ImageComp
                styles="h-80 object-cover w-full"
                imagePath="/src/assets/images/multi_engine_checkride_pass.webp"
                imageAlt="Student pilot with checkride pass"
              />
              <div class="p-10">
                <h3
                  class="text-xs/4 font-semibold text-gray-300 uppercase tracking-wider"
                >
                  Learn
                </h3>
                <p class="mt-2 text-lg font-black tracking-tight text-white">
                  Learn About Being a Pilot
                </p>
                <p class="mt-2 max-w-lg text-sm/6 text-gray-100">
                  If you're new to flying, you might not know where to start.
                  Our team of experienced pilots and instructors can help guide
                  you through the process.
                </p>
                <a href="#" class="btn-primary mt-2">Become A Pilot</a>
              </div>
            </div>
          </div>
          <div class="flex p-px lg:col-span-2">
            <div
              class="overflow-hidden rounded-lg bg-main-black ring-1 ring-white/15 lg:rounded-bl-[2rem]"
            >
              <ImageComp
                styles="h-80 object-cover w-full"
                imagePath="/src/assets/images/multi-engine-flying-cross-country.webp"
                imageAlt="Multi-engine flying cross country"
              />
              <div class="p-10">
                <h3
                  class="text-xs/4 font-semibold text-gray-300 uppercase tracking-wider"
                >
                  Start
                </h3>
                <p class="mt-2 text-lg font-black tracking-tight text-white">
                  Start Flight Training
                </p>
                <p class="mt-2 max-w-lg text-sm/6 text-gray-100">
                  We offer personalized training programs to help you earn your
                  Private Pilot Certificate and beyond. Our experienced
                  instructors will work with you to develop a training plan that
                  meets your goals, schedule, and learning style.
                </p>
                <a href="#" class="btn-primary mt-2">Our Courses</a>
              </div>
            </div>
          </div>
          <div class="flex p-px lg:col-span-4">
            <div
              class="overflow-hidden rounded-lg bg-main-black ring-1 ring-white/15 max-lg:rounded-b-[2rem] lg:rounded-br-[2rem] w-full"
            >
              <ImageComp
                styles="h-80 object-cover w-full"
                imagePath="/src/assets/images/gulfstream.webp"
                imageAlt="Airline plane in airport"
              />
              <div class="p-10">
                <h3
                  class="text-xs/4 font-semibold text-gray-300 uppercase tracking-wider"
                >
                  Continue
                </h3>
                <p class="mt-2 text-lg font-black tracking-tight text-white">
                  Advanced Flight Training
                </p>
                <p class="mt-2 max-w-lg text-sm/6 text-gray-100">
                  Continue your flight training education with additional
                  courses and certifications. Ideal Aviation offers a range of
                  advanced training options, including instrument training,
                  multi-engine training, commercial training, and more. We’re
                  here to support you every step of the way in your aviation
                  journey whether you’re flying for fun or for a career.
                </p>
                <a href="#" class="btn-primary mt-2">Advanced Training</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24 flex flex-col gap-10">
      <div class="flex justify-center flex-col gap-5">
        <h2
          class="text-xs/5 font-semibold text-gray-500 uppercase tracking-widest"
        >
          What everyone is saying
        </h2>
        <h3
          class="text-pretty text-4xl font-semibold tracking-tight text-main-black sm:text-5xl"
        >
          Trusted by Thousands of Students
        </h3>
      </div>
      <div class="grid mx-auto lg:grid-cols-3 lg:mx-0 gap-3">
        <ReviewCard
          imagePath="/src/assets/images/review1.jpg"
          imageAlt="Review 1"
          name="Alex A."
          title="Commercial Pilot"
          review="I love flying at Ideal and it's a truly wonderful flight school!"
        />
        <ReviewCard
          imagePath="/src/assets/images/review2.webp"
          imageAlt="Review 2"
          name="Don B."
          title="Commercial Pilot"
          review="Great instructors, nice facilities. Highly recommended"
        />
        <ReviewCard
          imagePath="/src/assets/images/review3.webp"
          imageAlt="Review 3"
          name="Paul D."
          title="Commercial Pilot"
          review="Had a discovery flight today with Michael. It was a wonderful experience I definitely recommend it!"
        />
      </div>
    </div>
  </section>
</BaseLayout>
