---
const { name, description, img } = Astro.props;
import ImageComp from "./ImageComp.astro";
---

<li class="flex items-center gap-4">
  <ImageComp imagePath={img} imageAlt={name} styles="size-12 rounded-full" />
  <div class="text-sm/6">
    <h3 class="font-medium">{name}</h3>
    <p class="text-gray-500">{description}</p>
  </div>
</li>
