---
const { name, certifications, image } = Astro.props;
import ImageComp from "./ImageComp.astro";
---

<li>
  <a
    class="flex items-center gap-4"
    href={`/about/our-team/${name
      .toLowerCase()
      .replace(/\s+/g, "-")
      .replace(/[^\w-]/g, "")}`}
  >
    <ImageComp
      imagePath={image}
      imageAlt={name}
      styles="size-16 lg:size-20 rounded-full object-cover"
    />
    <div class="text-sm/6">
      <h3 class="font-medium">{name}</h3>
      <p class="text-gray-500">{certifications}</p>
    </div>
  </a>
</li>
