---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource-variable/inter";
const { siteTitle, siteDescription } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PJHVGV48"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <main>
      <slot />
    </main>
  </body>
</html>
