---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource-variable/inter";
const { siteTitle, siteDescription } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
